html {
  background-color: azure;
  padding: 0;
}

div {
  border: 1px solid red;
}

#main {
  border: 2px solid green;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  height: 96vh;
}

#content-wrapper {
  border: 2px solid blue;
  display: grid;
  grid-template-columns: 15% 85%;
}

header {
  display: flex;
  border: 2px solid pink;
}

#logo {
  border: 1px solid blue;
  align-items: center;
  align-content: center;
  justify-self: center;
  width: 5vw;
  height: 5vh;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: inline-flex;
}

nav ul li {
  border: 1px solid rgb(20, 157, 98);
  list-style-type: none;
  padding: 5px 15px;
}

nav ul li:hover {
  background-color: aqua;
}

@media screen and (max-width: 800px) {
  #content-wrapper {
    /* border: 2px solid blue;
    display: grid; */
    grid-template-columns: 100%;
  }
}